
.product-item .ribbon span{
    color: white;
}

.product-item-holder .price-prev{
  text-decoration: line-through;
}

.title-nav {
    margin: 0 0 21px 0 !important; 
  }

.product-item img {
      padding: 10px;
      max-width: 70%;
      width: 130px;
      height: 130px;
      margin-left: auto;
      margin-right: auto;
      display: block;
}
.product-item-holder .ribbon {
      top: 0; }
.product-item .price-promo{
  float: left;
}
.product-item .price-promo .act-price{
  font-size: 15px;
  color: #F27A24;
  margin: 0 7px 5px 0;
  width: 100%;
}
.product-item .price-promo .old-price{
  font-size: 12px;
  text-decoration: line-through;
  width: 100%; 
}
.product-item .price{
  float: left;
  width: 40%;
}
.product-item .prod-price-details button{
  color: #F27A24;
  border-style: solid;
  border-color: #F27A24;
  border-radius: 5px;
  border-width: 2px;
}
.product-item .prod-price-details{
  height: 40%;
}
.product-item .prod-price-details button:hover{
  color: #fff;
  border-color: #fff;
  background-color: #F27A24;
}
.product-item .item-button-show-prod{
  float: right;
  width: 55%;
  padding: 1px;
  font-size: 12px;
  font-weight: bold;
}
.product-item .details{
  margin: 0px 5px 0px 5px;
  height: 60%;
  text-align: left !important;
}
.product-item .prod-price-details{
  width: 100%;
}
.product-item .promo-timer{
  width: 100%;
  float: left;
  text-align: center;
  height: 10%;
}
.prod-name{
  height: 30%;
}
.prod-name label{
  color: black;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 0;
  height: 34px;
}
.prod-mark{
  height: 20%;
}
.prod-mark label{
  font-size: 10px;
}