<div class="top-search-holder no-margin" >
  <div class="search-area">
      <form class="example-form">
          <div class="control-group">
              <mat-form-field class="search-field">                                
                  <input matInput  placeholder="Cherchez.. viandes, Pains, Fruits" matInput [formControl]="inputSearch" [matAutocomplete]="auto" />
              </mat-form-field>                    
              
                  <mat-autocomplete #auto="matAutocomplete">
                       <mat-option *ngFor="let word of searchWords" [value]="word" (click)="search(word)">
                        <span [innerHTML]="highlight(word, inputSearch.value)"> {{ word }}</span>
                       </mat-option> 
                       <mat-option *ngFor="let product of filteredProducts | async" [value]="product.name" (click)="search(product.name)">
                           <span [innerHTML]="highlight(product.name, inputSearch.value)"> {{ product.name }}</span>
                        </mat-option>
                        <hr>  
                        <mat-option *ngFor="let product of filteredProducts | async" [routerLink]="['/produit',product.id]" [value]="product.name" style="min-height: 70px;padding:0;" >
                                <div class="item-product-img">
                                    <img [src]="product.urlImage" />
                                </div>
                                <div class="item-product-name-mark">
                                        <h5>{{product.name}}</h5>
                                        <h6>{{product.mark}}</h6>
                                </div>
                                <div class="item-product-price">
                                    <label>{{product.price}}{{product.devise}}</label>
                                </div>
                         </mat-option>                                        
                  </mat-autocomplete>
                
              
              <a class="search-button" (click)="search(inputSearch.value)"></a>                
          </div>
      </form>
  </div>
  
</div>