
/*======================Menu nav=========================*/


          .wrap {
            display: inline-block;
            margin-top: 15px;
          }
          
          /* a little "umph" */

          
          .wrap a {
            text-decoration: none;
            color: #FFF;
            font-weight: bold;
            font-size: 14px;
            display: block;
            font-family: fontawesome;
          }
          
          .wrap ul {
            list-style: none;
            position: relative;
            text-align: left;
          }
          
          .wrap li {
            float: left;
          }
          
          /* clear'n floats */
          .wrap ul:after {
            clear: both;
          }
          
          .wrap ul:before,
          .wrap ul:after {
              content: " ";
              display: table;
          }
          
          nav {
            position: relative;
            background: #F27A24;
            text-align: center;
            letter-spacing: 1px;
            border-bottom-right-radius: 8px;
            border-top-left-radius: 8px;
          }
          
          /* prime */
          .wrap ul.primary li a {
            display: block;
            padding: 20px 30px;
            border-right: 1px solid #FFF;
            font-family: fontawesome;
          }

          .wrap ul.primary li:last-child a {
            border-right: none;
          }
          
          .wrap ul.primary li a:hover {
            
            color: #000;
          }
          
          

          
          @media only screen and (max-width: 600px) {
            .decor {
              padding: 3px;
            }
            
            .wrap {
              width: 100%;
              margin-top: 0px;
            }
            
            .wrap li {
              float: none;
            }
            
            .wrap ul.primary li:hover a {
              background: none;
              color: #8B8B8B;
              text-shadow: 1px 1px #000;
            }
          
            .wrap ul.primary li:hover ul {
              display: block;
              background: #272727;
              color: #fff;
            }
            
           
          }
