
.header-section{
  padding: 20px 0 0 0;
  transition: background-color 2s ease-out;
  transition: width 2s ease-out;
}
.page-scroll-header {
  background-color: rgba(15, 14, 14, 0.733) !important;
  opacity: 0.9;
  position: fixed;
  top:0; left:0;
  width: 100%; 
  z-index: 99;
}
.page-scroll-header >>> .mat-form-field-label, .page-scroll-header >>> mat-form-field {
  color: #fff ;
  
}

.dp48{
  font-size: 48px;
}
.item-connect{
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  color: #F27A24;
  
}
.item-basket{
  padding-left: 0px;
  padding-right: 0px;
  float: right;
  margin-right: 40px;
  border-left-width: 24px;
  padding-left: 0px;
  color: #63B1F4;
  cursor: pointer;
}
.nav-option{
  padding:0 0 0 10px;
  margin-top: -10px;
  float: right;
}
.label-my-list{
  width: 60px;
  font-size: 12px;
}
.label-connect{
  font-size: 12px;
  width: 87px;
}


