<div class="container no-padding">
  <div class="header-section" [ngClass]= "{'page-scroll-header': isScrolled}">
    <div class="col-xs-12 col-sm-6 col-md-2 logo-holder" style="padding:0 0 0 10px;">
        <!-- ============================================================= LOGO ============================================================= -->
        <div class="logo">
            <a href="index.html">
            <img alt="logo" src="assets/images/logo-promo-dist.png" width="200" height="35"/>
            </a>
        </div><!-- /.logo -->
        <!-- ============================================================= LOGO : END ============================================================= -->
    </div><!-- /.logo-holder -->

    <div class="col-xs-12 col-sm-6 col-md-2 nav-option">
      <div class="col-xs-12 col-sm-6 col-md-1 item-connect">
          <i class="material-icons dp48" >perm_identity</i>                                                                                    
          <div class="caption label-connect">Connectez-vous</div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-1 item-basket" [routerLink]="['/maListe']">
          <i class="material-icons dp48" >view_list</i>                                                                                    
          <div class="caption label-my-list">Ma liste</div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 search-option" style="padding:0 0 0 20px;">
      <div class="col-xs-12 col-sm-8 col-md-8">
        <search-component ></search-component> 
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <geolocation-component ></geolocation-component>   
      </div>                
    </div>
  </div>
</div><!-- /.container -->