<div class="container no-padding">
    <div class="col-xs-12 col-md-3 logo-holder">
        <!-- ============================================================= LOGO ============================================================= -->
        <div class="logo">
            <a href="index.html">
            <img alt="logo" src="assets/images/logo-promo-dist.png" width="250" height="60"/>
            </a>
        </div><!-- /.logo -->
        <!-- ============================================================= LOGO : END ============================================================= -->
    </div><!-- /.logo-holder -->

   
    <div class="col-xs-12 col-md-9 wrap">
        <nav>
          <ul class="primary">
            <li>
              <a href="">Nos fournisseurs</a>
            </li>
            <li>
              <a href="">Nos offres</a>
            </li>
            <li>
              <a href="">Recettes</a> 
            </li>
            <li >
              <a href="" style="border-right:none;">Qui sommes-nous?</a> 
            </li>
            <li style="float:right;border-left:1px solid #FFF; background-color: #63B1F4">
                
                <a href="/accueil" style="padding-top: 10px" (click)="authService.addSession('sedki')"><i class="material-icons" style="margin-right: 10px">account_circle</i> <span>Mon compte</span></a> 
            </li>
          </ul>
        </nav>
    </div>

    <div class="col-xs-12 col-md-6 top-search-holder no-margin" *ngIf="authService.isLoggedIn()">
        <div class="search-area">
            <form class="example-form">
                <div class="control-group">
                    <mat-form-field class="search-field">                                
                        <input matInput   placeholder="Cherchez.. viandes, Pains, Fruits" matInput [formControl]="myControl" [matAutocomplete]="auto" />
                    </mat-form-field>                    
                    
                        <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of options" [value]="option">
                                  {{ option }}
                                </mat-option>
                        </mat-autocomplete>
                        <ul class="categories-filter animate-dropdown">
                            <li class="dropdown">

                                <a class="dropdown-toggle"  data-toggle="dropdown" href="category-grid.html">Toutes recherches</a>

                                <ul class="dropdown-menu" role="menu" >
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Distributeur</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Catégorie</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Produit</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Marque</a></li>
                                </ul>
                            </li>
                        </ul>
                    
                    <a class="search-button" href="#" ></a>                
                </div>
            </form>
        </div>
    </div>
</div><!-- /.container -->