body{
    height: 987px;
}

/*===================================================================================*/
/*  Shopping Cart Page
/*===================================================================================*/
#cart-page {
    margin-bottom: 76px; }
    #cart-page .widget {
      margin: 0 0 17px 0 !important;
      padding-left: 40px; }
      #cart-page .widget .body {
        padding: 7px 0; }
      #cart-page .widget .buttons-holder {
        text-align: right; }
        #cart-page .widget .buttons-holder .simple-link {
          color: #3D3D3D;
          margin: 10px 0;
          font-size: 14px;
          line-height: 24px; }
      #cart-page .widget .tabled-data li label {
        min-width: 125px; }
      #cart-page .widget #total-price {
        margin: 18px 0 0 0;
        padding-bottom: 24px;
        border-bottom: 0; }
        #cart-page .widget #total-price .value {
          font-weight: bold;
          font-size: 25px;
          line-height: 25px; }
    #cart-page .items-holder {
      margin: 14px 0 0 0; }
      #cart-page .items-holder .close-btn {
        display: inline-block;
        position: absolute;
        right: 1%;
        top: 39%; 
        cursor: pointer;
      }
        #cart-page .items-holder .close-btn:after {
          color: #F27A24;
          content: '\f00d';
          font-family: fontawesome; }
      #cart-page .items-holder .cart-item {
        border-bottom: 1px solid #e0e0e0;
        padding: 27px 0 24px; }
        #cart-page .items-holder .cart-item:first-child {
          padding-top: 0; }
        #cart-page .items-holder .cart-item:last-child {
          border-bottom: 0; }
        #cart-page .items-holder .cart-item .title {
          padding: 17px 0 0 0; }
          #cart-page .items-holder .cart-item .title a {
            line-height: 15px;
            font-size: 16px;
            text-transform: capitalize;
            font-weight: 700;
            color: #0E53A5; }
        #cart-page .items-holder .cart-item .brand {
          font-size: 10px;
          line-height: 27px; }
        #cart-page .items-holder .cart-item .quantity {
          margin: 11px 0 0 30px; }
        #cart-page .items-holder .cart-item .price {
          font-weight: 700;
          font-size: 18px;
          padding: 28px 0;
          text-align: center; }

          .le-quantity {
            padding: 12px;
            position: relative;
            border: 1px solid #e0e0e0; }
            .le-quantity .minus, .le-quantity .plus {
              position: absolute;
              width: 5px;
              height: 100%;
              padding: 3px 14px;
              background-color: #F9F9F9;
              top: 0; }
              .le-quantity .minus:hover, .le-quantity .plus:hover {
                background-color: #f6f6f6; }
              .le-quantity .minus, .le-quantity .minus:after, .le-quantity .plus, .le-quantity .plus:after {
                color: #3D3D3D;
                transition: 0.3s ease; }
              .le-quantity .minus:after, .le-quantity .plus:after {
                width: 10px;
                height: 10px;
                font-size: 10px; }
            .le-quantity .minus {
              left: 0;
              border-right: 1px solid #e0e0e0; }
            .le-quantity .minus:after {
                content: '\f068';
                font-family: fontawesome; }
            .le-quantity .minus:hover, .le-quantity .plus:hover{
              color: #F27A24 !important;
              cursor: pointer;
            }
            .le-quantity .plus {
              border-left: 1px solid #e0e0e0;
              right: 0; }
              .le-quantity .plus:after {
                content: '\f067';
                font-family: fontawesome; }
            .le-quantity input {
              border: none;
              text-align: center;
              width: 80px;
              color: #3D3D3D;
              font-size: 20px;
              background-color: #fff; }

.header-supplier{
  width: 100%;
}
.cart-info-supplier{
  margin-left: 20px;
}
.cart-info-supplier label{
  font-size: 27px;
  font-weight: bold;
}
.cart-icon-contact i{
  padding: 5px;
}
.cart-info-supplier .cart-icon-contact{
}
.footer-supplier {
  float: right;
}

.back-btn{
  background-color: #F27A24;
  color: #fff;
}
.navigation{
  padding: 1px 2px 5px 10px;
}
.maliste-page-title{
  font-weight: bold; color: #F27A24; margin : 5px;
}
