<div class="wrapper">
    <body>
        <div class="wrapper">
            <app-header></app-header>
            <!-- ============================================================= HEADER : END ============================================================= -->
            <section id="category-grid">
                <div class="container">
                    <!-- ========================================= SIDEBAR ========================================= -->
                    <div class="col-xs-12 col-sm-3 no-margin sidebar narrow sidemenu-holder">
                        <!-- ========================================= PRODUCT FILTER ========================================= -->
                        <div class="side-menu animate-dropdown">
                            <div class="head"><i class="fa fa-list"></i> Catégories</div>
                            <nav class="yamm megamenu-horizontal" role="navigation">
                                <ul class="nav">
                                    <li class="dropdown menu-item" *ngFor="let category of listCategories">
                                        <a  class="dropdown-toggle" data-toggle="dropdown">{{category.name}}</a>
                                        <ul class="dropdown-menu mega-menu">
                                            <li class="yamm-content">
                                                <!-- ================================== MEGAMENU VERTICAL ================================== -->
                                                <div class="row">
                                                    <div class="col-xs-12 col-lg-4">
                                                        <ul>
                                                            <li *ngFor="let subCategory of category.subCategories"><a (click)="searchProducts('subCategory',subCategory.name)">{{subCategory.name}}</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="dropdown-banner-holder">
                                                        <img alt="" [src]="category.img"  width="300" height="395" />
                                                    </div>
                                                </div>
                                                <!-- ================================== MEGAMENU VERTICAL ================================== -->
                                            </li>
                                        </ul>
                                    </li><!-- /.menu-item -->
                                </ul><!-- /.nav -->
                            </nav><!-- /.megamenu-horizontal -->
                        </div><!-- /.side-menu -->
                        <filters-component *ngIf="searchService.listSearchProduct"></filters-component>
                        <!-- ========================================= PRODUCT FILTER : END ========================================= -->
                    </div>
                    <!-- ========================================= SIDEBAR : END ========================================= -->

                    <!-- ========================================= CONTENT ========================================= -->
                    <!-- =========== Products liste ============ -->
                    <div class="col-xs-12 col-sm-9 no-margin wide sidebar">
                        <router-outlet></router-outlet>
                    </div><!-- /.col -->

                    <!-- ========================================= CONTENT : END ========================================= -->
                </div><!-- /.container -->
            </section><!-- /#category-grid -->

            <!-- ============================================================= FOOTER ============================================================= -->
            <app-footer></app-footer> 
        </div>        
    </body>
</div>