<div class=" top-geolocation-holder no-margin" >
    <div class="geolocation-area">
            <div class="control-group">
                <i class="geoloc-icon material-icons" >location_on</i>                                                                            
                <mat-form-field class="geloc-input-field">                                
                    <input matInput  placeholder="Ex: Paris" [formControl]="inputGeoLocation" />
                </mat-form-field>  
                <i class="geoloc-action-button material-icons" (click)="geolocate()">my_location</i>                                                        
            </div>
            
    </div>
</div>