<div class="row navigation">
    <button mat-fab class="back-btn" (click)="backPage()"><i class="material-icons">keyboard_backspace</i></button>        
</div>
<div id="single-product" class="row">
  <div class="no-margin col-xs-12 col-sm-6 col-md-5 gallery-holder">
    <div class="product-item-holder size-big single-product-gallery small-gallery">
      <owl-carousel [options]="{items:1,navigation: true, pagination: false, rewindNav : false}" >
        <div class="single-product-gallery-item" id="slide1">
          <a href="#">
            <img class="" [src]="product.urlImage"/>
          </a>
        </div>
      </owl-carousel>
    </div>
    <!-- /.single-product-gallery -->
  </div>
  <!-- /.gallery-holder -->
  <div class="no-margin col-xs-12 col-sm-7 body-holder">
    <div class="body">
      <div class="star-holder inline">
        <div class="star" data-score="4"></div>
      </div>
      <div class="title"><a href="#">{{product.name}}</a></div>
      <div class="ref-produit"><label>Ref:</label><span>{{product.refProduit}}</span></div>      
      <div class="brand">{{product.mark}}</div>
      <div class="prices">
        <img class="" [src]="product.supplier.img"/>
        <div class="price-current">{{product.price}}</div>
        <div class="price-prev">{{product.oldPrice}}</div>
      </div>
      <div class="">1.50 €/kg</div>  
      <div class=""><i class="material-icons">av_timer</i> Il reste {{counterDay}}j {{counterHour}}h {{counterMin}}m {{counterSec}}s </div>  
      <div class="qnt-holder">
        <div class="le-quantity">
          <form>
            <a class="minus" href="#reduce"></a>
            <input name="quantity" readonly="readonly" type="text" value="1" />
            <a class="plus" href="#add"></a>
          </form>
        </div>
        <a id="addto-cart" (click)="addToMyList(product)" class="le-button huge">Ajouter à liste de course</a>
      </div>
      <!-- /.qnt-holder -->
    </div>
    <!-- /.body -->
  </div>
  <div class="no-margin col-xs-12 col-sm-6 col-md-5 supplier-holder">
    <div class="info-supplier">
        <label>{{product.supplier.name}}</label>
        <img class="" [src]="product.supplier.img"/>
        <a (click)="scroll(tabContent)">En savoir + sur le fournisseur</a>
    </div>
    <div class="aide-question">
        <label>Comment passer la commande?</label>
        <div class="en-ligne-supplier" [hidden]="product.supplier.mail.website ===0">
          <div [ngStyle]="{'width':'100%'}">
              <label>En ligne: </label>
              <a *ngFor="let website of product.supplier.website">{{website}}</a>
          </div>
          <div [ngStyle]="{'width':'100%'}">
              <label [ngStyle]="{'font-weight':'bold'}">OU</label>
          </div>
        </div>
        <div class="find-near-shop">
            <label><i class="material-icons">near_me</i> Trouver le point de vente le plus proche</label>
        </div>
    </div>
    <div class="detail-prod-supplier-contact" [hidden]="product.supplier.tel.length ===0 && product.supplier.mail.length ===0">
      <div class="title">Contact</div>
      <label [hidden]="product.supplier.tel.length ===0">Tel: </label><li *ngFor="let tel of product.supplier.tel">{{tel}}</li>
      <label [hidden]="product.supplier.mail.length ===0">Mail: </label><li *ngFor="let mail of product.supplier.mail">{{mail}}</li>
    </div>
    
  </div>
<!-- /.body-holder -->
</div>
<!-- /.row #single-product -->
<div class="condition-prod" [hidden]="product.ProductConditioning.length ===0">
  <h2>Conditionnement du produit:</h2>
  <p *ngFor="let cond of product.ProductConditioning">{{cond}}</p>
</div>
<div class="condition-pursh" [hidden]="product.purchaseConditions.length ===0">
    <h2>Conditions d'achats</h2>
    <p *ngFor="let purch of product.purchaseConditions">{{purch}}</p>
</div>
<!-- ========================================= SINGLE PRODUCT TAB ========================================= -->
<section id="single-product-tab">
<div class="no-container">
  <div class="tab-holder">
    <ul class="nav nav-tabs simple" >
      <li [ngClass]="{'active':!isSupplTabActive && !isRecetteTabActive}"><a href="#description" data-toggle="tab">Description du produit</a></li>
      <li [ngClass]="{'active':isSupplTabActive}"><a href="#supplier" data-toggle="tab">Le fournisseur</a></li>
      <li [ngClass]="{'active':!isSupplTabActive && !isDescTabActive}"><a href="#recettes" data-toggle="tab">Suggestion de recettes</a></li>      
    </ul>
    <!-- /.nav-tabs -->
    <div class="tab-content" #tabContent>
      <div class="tab-pane active" id="description">
        <p *ngFor="let desc of product.description" [innerHTML]="desc"></p>
      </div>
    <div [ngClass]="{'tab-pane':true,'active':isSupplTabActive}" id="supplier" >
      <div class="supplier-description">
          <p *ngFor="let desc of product.supplier.description" [innerHTML]="desc"></p>
      </div>
      <div class="supplier-delivery-requirement" [hidden]="product.supplier.deliveryRequirement.length ===0">
        <h3>Condition de livraison: </h3>
          <li *ngFor="let req of product.supplier.deliveryRequirement" [innerHTML]="req"></li>
      </div>
      <div class="supplier-certif" [hidden]="product.supplier.certifications.length ===0">
          <h3>Certifications: </h3>
          <li *ngFor="let certif of product.supplier.certifications" [innerHTML]="certif"></li>
      </div>
    </div>
       <!-- /.tab-pane #additional-info -->
      <div class="tab-pane" id="recettes">
        ICI RECETTES
      </div>
      <!-- /.tab-pane #reviews -->
    </div>
    <!-- /.tab-content -->
  </div>
  <!-- /.tab-holder -->
</div>
<!-- /.container -->
</section>
<!-- /#single-product-tab -->