<div class="row navigation">
    <button mat-fab class="back-btn" [routerLink]="['/accueil']"><i class="material-icons">keyboard_backspace</i></button>        
</div>
<div id="single-product" class="row">
  <div class="no-margin col-xs-12 col-sm-6 col-md-5 gallery-holder">
    <div class="product-item-holder size-big single-product-gallery small-gallery">
      <owl-carousel [options]="{items:1,navigation: true, pagination: false, rewindNav : false}" >
        <div class="single-product-gallery-item" id="slide1">
          <a data-rel="prettyphoto" href="assets/images/products/product-gallery-01.jpg">
            <img class="" [src]="product.urlImage"/>
          </a>
        </div>
      </owl-carousel>
      <!-- /.single-product-slider -->
      <div class="single-product-gallery-thumbs gallery-thumbs">
        <div id="owl-single-product-thumbnails" class="owl-carousel">
          <a class="horizontal-thumb active" data-target="#owl-single-product" data-slide="0" href="#slide1">
            <img width="67" alt="" src="assets/images/blank.gif" data-echo="assets/images/products/gallery-thumb-01.jpg" />
          </a>
          <a class="horizontal-thumb" data-target="#owl-single-product" data-slide="1" href="#slide2">
            <img width="67" alt="" src="assets/images/blank.gif" data-echo="assets/images/products/gallery-thumb-01.jpg" />
          </a>
          <a class="horizontal-thumb" data-target="#owl-single-product" data-slide="2" href="#slide3">
            <img width="67" alt="" src="assets/images/blank.gif" data-echo="assets/images/products/gallery-thumb-01.jpg" />
          </a>
          <a class="horizontal-thumb" data-target="#owl-single-product" data-slide="0" href="#slide1">
            <img width="67" alt="" src="assets/images/blank.gif" data-echo="assets/images/products/gallery-thumb-01.jpg" />
          </a>
          <a class="horizontal-thumb" data-target="#owl-single-product" data-slide="1" href="#slide2">
            <img width="67" alt="" src="assets/images/blank.gif" data-echo="assets/images/products/gallery-thumb-01.jpg" />
          </a>
          <a class="horizontal-thumb" data-target="#owl-single-product" data-slide="2" href="#slide3">
            <img width="67" alt="" src="assets/images/blank.gif" data-echo="assets/images/products/gallery-thumb-01.jpg" />
          </a>
          <a class="horizontal-thumb" data-target="#owl-single-product" data-slide="0" href="#slide1">
            <img width="67" alt="" src="assets/images/blank.gif" data-echo="assets/images/products/gallery-thumb-01.jpg" />
          </a>
          <a class="horizontal-thumb" data-target="#owl-single-product" data-slide="1" href="#slide2">
            <img width="67" alt="" src="assets/images/blank.gif" data-echo="assets/images/products/gallery-thumb-01.jpg" />
          </a>
          <a class="horizontal-thumb" data-target="#owl-single-product" data-slide="2" href="#slide3">
            <img width="67" alt="" src="assets/images/blank.gif" data-echo="assets/images/products/gallery-thumb-01.jpg" />
          </a>
        </div>
        <!-- /#owl-single-product-thumbnails -->
        <div class="nav-holder left hidden-xs">
          <a class="prev-btn slider-prev" data-target="#owl-single-product-thumbnails" href="#prev"></a>
        </div>
        <!-- /.nav-holder -->
        <div class="nav-holder right hidden-xs">
          <a class="next-btn slider-next" data-target="#owl-single-product-thumbnails" href="#next"></a>
        </div>
        <!-- /.nav-holder -->
      </div>
      <!-- /.gallery-thumbs -->
    </div>
    <!-- /.single-product-gallery -->
  </div>
  <!-- /.gallery-holder -->
  <div class="no-margin col-xs-12 col-sm-7 body-holder">
    <div class="body">
      <div class="star-holder inline">
        <div class="star" data-score="4"></div>
      </div>
      <div class="title"><a href="#">{{product.name}}</a></div>
      <div class="brand">{{product.mark}}</div>
      <div class="prices">
        <div class="price-current">{{product.price}}</div>
        <div class="price-prev">{{product.oldPrice}}</div>
      </div>
      <div class="">1.50 €/kg</div>  
      <div class=""><i class="material-icons">av_timer</i> Il reste {{counterDay}}j {{counterHour}}h {{counterMin}}m {{counterSec}}s </div>  
      <div class="qnt-holder">
        <div class="le-quantity">
          <form>
            <a class="minus" href="#reduce"></a>
            <input name="quantity" readonly="readonly" type="text" value="1" />
            <a class="plus" href="#add"></a>
          </form>
        </div>
        <a id="addto-cart" href="" class="le-button huge">Ajouter à liste de course</a>
      </div>
      <!-- /.qnt-holder -->
    </div>
    <!-- /.body -->
  </div>
  <div class="no-margin col-xs-12 col-sm-6 col-md-5 supplier-holder">
    <div class="info-supplier">
        <label>Fournisseur</label>
        <div><i class="material-icons">crop_original</i></div>
        <label><a>En savoir plus...</a></label>
    </div>
    <div class="aide-question">
        <label><a>Comment passer la commande?</a></label>
    </div>
    <div class="find-near-shop">
        <label><i class="material-icons">near_me</i> Trouver le point de vente le plus proche</label>
    </div>

    
  </div>
<!-- /.body-holder -->
</div>
<!-- /.row #single-product -->
<!-- ========================================= SINGLE PRODUCT TAB ========================================= -->
<section id="single-product-tab">
<div class="no-container">
  <div class="tab-holder">
    <ul class="nav nav-tabs simple" >
      <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
      <li><a href="#additional-info" data-toggle="tab">Informations utiles</a></li>
      <li><a href="#reviews" data-toggle="tab">Commentaires (3)</a></li>
      <li><a href="#recettes" data-toggle="tab">Suggestions de recette</a></li>      
    </ul>
    <!-- /.nav-tabs -->
    <div class="tab-content">
      <div class="tab-pane active" id="description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet porttitor eros. Praesent quis diam placerat, accumsan velit interdum, accumsan orci. Nunc libero sem, elementum in semper in, sollicitudin vitae dolor. Etiam sed tempus nisl. Integer vel diam nulla. Suspendisse et aliquam est. Nulla molestie ante et tortor sollicitudin, at elementum odio lobortis. Pellentesque neque enim, feugiat in elit sed, pharetra tempus metus. Pellentesque non lorem nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <p>Sed consequat orci vel rutrum blandit. Nam non leo vel risus cursus porta quis non nulla. Vestibulum vitae pellentesque nunc. In hac habitasse platea dictumst. Cras egestas, turpis a malesuada mollis, magna tortor scelerisque urna, in pellentesque diam tellus sit amet velit. Donec vel rhoncus nisi, eget placerat elit. Phasellus dignissim nisl vel lectus vehicula, eget vehicula nisl egestas. Duis pretium sed risus dapibus egestas. Nam lectus felis, sodales sit amet turpis se.</p>
        <div class="meta-row">
          <div class="inline">
            <label>Ref produit:</label>
            <span>54687621</span>
          </div>
          <!-- /.inline -->
          <span class="seperator">/</span>
          <div class="inline">
            <label>categories:</label>
            <span><a href="#">test</a></span>
          </div>
          <!-- /.inline -->
        </div>
        <!-- /.meta-row -->
      </div>
      <!-- /.tab-pane #description -->
      <div class="tab-pane" id="additional-info">
        <ul class="tabled-data">
          <li>
            <label>Poids</label>
            <div class="value">7.25 kg</div>
          </li>
          <li>
            <label>Dimensions</label>
            <div class="value">90x60x90 cm</div>
          </li>
          <li>
            <label>Taille</label>
            <div class="value">X</div>
          </li>
          <li>
            <label>Couleur</label>
            <div class="value">Blanc</div>
          </li>
          <li>
            <label>garantie</label>
            <div class="value">5 ans</div>
          </li>
        </ul>

      </div>
      <!-- /.tab-pane #additional-info -->
      <div class="tab-pane" id="reviews">
        <div class="comments">
          <div class="comment-item">
            <div class="row no-margin">
              <div class="col-lg-1 col-xs-12 col-sm-2 no-margin">
                <div class="avatar">
                  <img alt="avatar" src="assets/images/default-avatar.jpg">
                </div>
                <!-- /.avatar -->
              </div>
              <!-- /.col -->
              <div class="col-xs-12 col-lg-11 col-sm-10 ">
                <div class="comment-body">
                  <div class="meta-info">
                    <div class="author inline">
                      <a href="#" class="bold">John Smith</a>
                    </div>
                    <div class="star-holder inline">
                      <div class="star" data-score="4"></div>
                    </div>
                    <div class="date inline pull-right">
                      12.07.2013
                    </div>
                  </div>
                  <!-- /.meta-info -->
                  <p class="comment-text">
                    Integer id purus ultricies nunc tincidunt congue vitae nec felis. Vivamus sit amet nisl convallis, faucibus risus in, suscipit sapien. Vestibulum egestas interdum tellus id venenatis.
                  </p>
                  <!-- /.comment-text -->
                </div>
                <!-- /.comment-body -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.comment-item -->
          <div class="comment-item">
            <div class="row no-margin">
              <div class="col-lg-1 col-xs-12 col-sm-2 no-margin">
                <div class="avatar">
                  <img alt="avatar" src="assets/images/default-avatar.jpg">
                </div>
                <!-- /.avatar -->
              </div>
              <!-- /.col -->
              <div class="col-xs-12 col-lg-11 col-sm-10 ">
                <div class="comment-body">
                  <div class="meta-info">
                    <div class="author inline">
                      <a href="#" class="bold">Jane Smith</a>
                    </div>
                    <div class="star-holder inline">
                      <div class="star" data-score="5"></div>
                    </div>
                    <div class="date inline pull-right">
                      12.07.2013
                    </div>
                  </div>
                  <!-- /.meta-info -->
                  <p class="comment-text">
                    Integer id purus ultricies nunc tincidunt congue vitae nec felis. Vivamus sit amet nisl convallis, faucibus risus in, suscipit sapien. Vestibulum egestas interdum tellus id venenatis.
                  </p>
                  <!-- /.comment-text -->
                </div>
                <!-- /.comment-body -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.comment-item -->
          <div class="comment-item">
            <div class="row no-margin">
              <div class="col-lg-1 col-xs-12 col-sm-2 no-margin">
                <div class="avatar">
                  <img alt="avatar" src="assets/images/default-avatar.jpg">
                </div>
                <!-- /.avatar -->
              </div>
              <!-- /.col -->
              <div class="col-xs-12 col-lg-11 col-sm-10 ">
                <div class="comment-body">
                  <div class="meta-info">
                    <div class="author inline">
                      <a href="#" class="bold">John Doe</a>
                    </div>
                    <div class="star-holder inline">
                      <div class="star" data-score="3"></div>
                    </div>
                    <div class="date inline pull-right">
                      12.07.2013
                    </div>
                  </div>
                  <!-- /.meta-info -->
                  <p class="comment-text">
                    Integer id purus ultricies nunc tincidunt congue vitae nec felis. Vivamus sit amet nisl convallis, faucibus risus in, suscipit sapien. Vestibulum egestas interdum tellus id venenatis.
                  </p>
                  <!-- /.comment-text -->
                </div>
                <!-- /.comment-body -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.comment-item -->
        </div>
        <!-- /.comments -->
        <div class="add-review row">
          <div class="col-sm-8 col-xs-12">
            <div class="new-review-form">
              <h2>Ajouter un commentaire</h2>
              <form id="contact-form" class="contact-form" method="post" >
                <div class="row field-row">
                  <div class="col-xs-12 col-sm-6">
                    <label>Nom*</label>
                    <input class="le-input" >
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <label>email*</label>
                    <input class="le-input" >
                  </div>
                </div>
                <!-- /.field-row -->
                <div class="field-row star-row">
                  <label>Votre note</label>
                  <div class="star-holder">
                    <div class="star big" data-score="0"></div>
                  </div>
                </div>
                <!-- /.field-row -->
                <div class="field-row">
                  <label>Votre avis</label>
                  <textarea rows="8" class="le-input"></textarea>
                </div>
                <!-- /.field-row -->
                <div class="buttons-holder">
                  <button type="submit" class="le-button huge">Envoyer</button>
                </div>
                <!-- /.buttons-holder -->
              </form>
              <!-- /.contact-form -->
            </div>
            <!-- /.new-review-form -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.add-review -->
      </div>
       <!-- /.tab-pane #additional-info -->
      <div class="tab-pane" id="recettes">
        ICI RECETTES
      </div>
      <!-- /.tab-pane #reviews -->
    </div>
    <!-- /.tab-content -->
  </div>
  <!-- /.tab-holder -->
</div>
<!-- /.container -->
</section>
<!-- /#single-product-tab -->